
@{
    ViewData["Title"] = Resources.BurovAV.Contacts;
    Layout = "~/Views/Shared/_BurovavLayout.cshtml";
}

    <h1 class="mb-2">
        @Resources.BurovAV.Contacts
    <a href="https://www.linkedin.com/in/alexisburov/" style="float:right;"><img src="~/img/linkedin.png" width="40" style="float:right; margin: 8px 8px 8px 8px;" /></a>
    <a href="https://www.hackerrank.com/burovalexprogra1" style="float:right;"><img src="~/img/hackerrank.png" width="40" style="float:right; margin: 8px 8px 8px 8px;" /></a>
    <a href="https://github.com/BurovAlexProgrammer" style="float:right;"><img src="~/img/GitHub-Mark-64px.png" width="40" style="float:right; margin: 8px 8px 8px 8px;" /></a>
    </h1>
<img src="~/img/e-logo.svg" style="height:500px; position:absolute; opacity:0.07; margin-top: -100px; z-index:-1" />

<table cellspacing="16" style="border-collapse: separate">
    <tbody>
        <tr>
            <td><p class="h5 text-uppercase mb-2">@Resources.BurovAV.Mail:</p></td>
            <td>
                <button type="button" class="btn btn-secondary buttonShowMail">@Resources.BurovAV.ShowMail</button><p class="h5 labelMail"></p>
                <span hidden class="hiddenPart2">Programmer</span>
                <span hidden class="hiddenPart3">@@gmail.com</span>
                <span hidden class="hiddenPart1">BurovAlex</span>
            </td>
        </tr>
        <tr>
            <td><p class="h5 text-uppercase mb-2">@Resources.BurovAV.Phone:</p></td>
            <td>
                <button type="button" class="btn btn-secondary buttonShowPhone">@Resources.BurovAV.ShowPhone</button><p class="h5 labelPhone"></p>
                <span hidden class="hiddenPart2">12 906</span>
                <span hidden class="hiddenPart3">-32-42</span>
                <span hidden class="hiddenPart1">+7 9</span>
            </td>
        </tr>
    </tbody>
</table>
<script>
    $(function () {
        $("#navItemContacts").addClass("active");

        $(".buttonShowMail").click(function () {
            var td = $(this).parent();
            var part1 = td.find(".hiddenPart1").html();
            var part2 = td.find(".hiddenPart2").html();
            var part3 = td.find(".hiddenPart3").html();
            td.html("<p class='h5 text-success'>" + part1 + part2 + part3 + "</p>");
        });

        $(".buttonShowPhone").click(function () {
            var td = $(this).parent();
            var part1 = td.find(".hiddenPart1").html();
            var part2 = td.find(".hiddenPart2").html();
            var part3 = td.find(".hiddenPart3").html();
            td.html("<p class='h5 text-success'>" + part1 + part2 + part3 + "</p>");
        });
    });
</script>