<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PortAI - @Resources.BurovAV.BurovAleksey</title>
        <link rel="stylesheet" href="~/themes/flatly/bootstrap.css" />
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <style>
        .nav-link {
            font-size: large;
        }
    </style>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand float-left" asp-area="" asp-controller="Home" asp-action="Index"><p class="mb-0 h2"><span class="text-success">Aleksey </span>Burov</p></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item" id="navItemHome">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Burovav" asp-action="Index">@Resources.BurovAV.About</a>
                        </li>
                        <li class="nav-item" id="navItemPortfolio">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Burovav" asp-action="Portfolio">@Resources.BurovAV.Portfolio</a>
                        </li>
                        <li class="nav-item" id="navItemContacts">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Burovav" asp-action="Contacts">@Resources.BurovAV.Contacts</a>
                        </li>
                    </ul>
                </div>
                <div>
                    @{
                        var languageService = new PortAI.Services.LanguageService();
                        var currentLanguage = languageService.GetCurrentLanguage(Context);
                        var languageList = PortAI.Services.LanguageService.Languages;
                    }
                    @Html.Hidden("currentLanguage", currentLanguage)
                    @Html.DropDownList("languageSelect", new SelectList(languageList.Select(l => new { l.culture, l.title }), "culture", "title"), htmlAttributes: new { @class = "form-control", @onchange = "ChangeLanguage();" })
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - PortAI
        </div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var currentLanguage = $("#currentLanguage").val();
            if (currentLanguage) {
            SelectOptionByValue("currentLanguage", currentLanguage);
            } else {
            $("#currentLanguage").prop("selectedIndex", 0);
            }
        });

        function ChangeLanguage() {
            var newLanguage = $("#languageSelect").val();
            $.ajax({
            type: "POST",
                url: "/BurovAV/SetLanguage/" + newLanguage,
                success: function (data) {
            console.log("Ajax success. Data: " + data);
                    location.reload();
                },
                error: function (jqXHR, exception) {
            console.log("Ajax error: Status=" + jqXHR.status + ", Exception='" + exception + "'");
                }
            });
        }

        function SelectOptionByValue(documentId, value) {
            $("#languageSelect").val(value);
        }
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
