@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_LayoutRestAPI.cshtml";
    string currentYear = DateTime.Now.Year.ToString();
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<div class="row">
    <h1 class="pl-5">@Resources.Resource.MovieSearch</h1>
</div>
<form method="post">
    <div class="row mt-4">
        <div class="col-3">
            <div class="form-group" style="display:none">
                <input type="button" class="btn btn-block btn-danger" value="Test" onclick="Test();" />
            </div>


            <div class="form-group">
                <input type="button" class="btn btn-block btn-primary" id="startSearchButton" value=@Resources.Resource.StartSearch onclick="StarSearch()"/>
            </div>

            <div class="form-group">
                <label for="searchText" style="display:none;">Search</label>

                @Html.TextBox("searchText", "", htmlAttributes: new { @type = "search", @class = "form-control", @placeholder = Resources.Resource.Keywords })
            </div>

            <div class="form-group">
                <div class="custom-control custom-switch">

                    @Html.CheckBox("showAdvanceSearchToggle", false, htmlAttributes: new { @class = "custom-control-input", @onchange = "SwitchDisplayAdvanceSearchPanel();" })
                    <label class="custom-control-label" for="showAdvanceSearchToggle">@Resources.Resource.Advanced</label>
                </div>
            </div>

            <div id="leftExtendedPanel" style="display:none">
                <div class="form-group">
                    <label for="genreSelect">@Resources.Resource.Genre</label>
                    @Html.DropDownList("genreSelect", new SelectList(""), htmlAttributes: new { @class = "form-control" })
                </div>

                <div class="form-group">
                    <label for="yearsInputGroup">@Resources.Resource.ReleaseDate</label>
                    <div class="input-group" id="yearsInputGroup">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="">@Resources.Resource.Years</span>
                        </div>
                        @Html.Editor("yearBegin", new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "1895", @max = currentYear, @step = "1" } })
                        @Html.Editor("yearEnd", new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "1895", @max = currentYear, @step = "1" } })
                    </div>
                </div>

                <div class="form-group">
                    <label for="rating">@Resources.Resource.IMDBRating</label>
                    @Html.DropDownList("exampleSelect2", new SelectList(new string[] { Resources.Resource.Any, "3", "4", "5", "6", "7", "8" }), htmlAttributes: new { @class = "form-control" })
                </div>
            </div>

        </div>

    </div>
</form>
<div class="row">

</div>

<script type="text/javascript">
    $(document).ready(function () {
        //Установка языка

        //Получение списка жанров
        getGenresList();
    });

    //Переключение отображения панели расширенного поиска
    function SwitchDisplayAdvanceSearchPanel() {
        $('#leftExtendedPanel').stop();
        var checked = $('#showAdvanceSearchToggle').prop('checked');
        if (checked) {
            $('#leftExtendedPanel').slideDown(300);
        } else {
            $('#leftExtendedPanel').slideUp(300);
        }
    }

    function testJson() {
        alert("testJson");

        $.ajax({
            type: "POST",
            url: "/RestAPI/GetFilmCount",
            data: "{data : testVal}",
            success: function (data) {
                alert(data);
            }
        });


    }

    function StarSearch() {
        var q = "Fury";
        var y = "2019";
        $.ajax({
            type: "POST",
            url: "/RestAPI/StarSearch",
            data: { query: q, year: y },
            success: function (data) {
                alert("total_results: " + data.total_results);
                alert("total_pages: " + data.total_pages);
            }
        });
    }

    //Получение списка жанров
    function getGenresList() {
        $.ajax({
            type: "POST",
            url: "/RestAPI/GetGenres",
            data: "{data : testVal}",
            success: function (data) {
                $("#genreSelect").html(""); //clean select
                $("#genreSelect").append($("<option></option>").attr("value", 0).text(""))
                $(data).each(function () {
                    $("#genreSelect").append($("<option></option>").attr("value", this.id).text(this.name));
                });
            }
        });
    }

    //Получение количества фильмов
</script>

<style>
    option, select {
        text-transform: capitalize;
    }
</style>


<script src="~/js/restApiHome.js">


</script>